/* NAVIGATION TOP MENU */

* {
  color: white;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

.navbar a {
  color: red;
  font-size: 1.8rem;
}

.navbar a:hover,
b :active {
  color: yellow;
}

.navbar-toggler {
  color: red;
}

a.navbar-brand {
  margin-left: 2%;
}

a.nav-item.nav-link {
  margin: 14%;
}

/* INDEX */

.jumbo {
  background-image: url(assets/bg-texture.png);
  border-bottom-left-radius: 54px;
  border-bottom-right-radius: 54px;
  height: 92vh;
  width: 100vw;
  border-style: solid;
  border-color: red;
  border-width: 2px;
  margin-top: -5px;
}

.periperi {
  object-fit: contain;
  float: left;
  margin: auto;
  width: 80%;
  height: 80%;
}

h4 {
  color: yellow;
  font-size: 1.5em;
  word-spacing: 2%;
  line-height: 120%;
}

.jumbotxt {
  text-align: right;
  object-fit: cover;
  box-sizing: border-box;
  float: right;
  bottom: -10%;
}

/* OFFER OF THE WEEK */

.panel1 {
  border-radius: 18px;
  background-image: url(assets/bang.webp);
  background-color: brown;
  height: fit-content;
  border-style: solid;
  border-width: 4px;
  border-color: red;
}

.offer {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5rem;
}
.panel2 {
  border-radius: 18px;
  background-color: rgb(211, 126, 22);
}

.row-content {
  justify-self: center;
}

/* CONTACT */

input.form-control.message {
  height: 150px;
  max-width: 100%;
}

.container-form {
  padding: 36px;
}

.form-label {
  color: brown;
  font-weight: 700;
}

.form-text {
  color: red;
}

.cadre-contact {
  border-radius: 54px;
  border: 1px;
  border-color: brown;
  background-color: aquamarine;
}

/*  PICTURES */

.pictures {
  border: 1px;
  border-color: brown;
  background-color: chartreuse;
  max-width: 100vw;
  height: 50vh;
  border-radius: 36px;
}

.pagination {
  align-self: center;
}

/*RESTAURANTS*/

iframe {
  max-width: 20vw;
  max-height: 30vh;
  border-radius: 36px;
}

.bxl .dam .ldn {
  border-style: solid;
  border: 5px;
  border-color: brown;
  border-radius: 36px;
  justify-content: center;
}

h1 {
  text-align: left;
  color: brown;
}

/* MENU */

h5.mb-1 {
  color: red;
}

h5.mb-1:active {
  color: brown;
}

p.mb-1 {
  color: gray;
}

a.list-group-item {
  background-color: rgb(31, 34, 34);
}
a.list-group-item:hover {
  background-color: brown;
  color: white;
}

a.list-group-item:active {
  background-color: brown;
  color: white;
}

small {
  color: white;
}
